/*Homepage Styles*/
.mainHeading{
	width: 100%;
   text-align: center;
   margin-top: 5px;
   font-size: 80px; 
   font-family: Belleza;
   color: black;/*rgb(80,90,91);*/ 
   font-weight: bold;
   border-radius: 46px;
   background-color: rgb(255,255,255);
   border: 1px solid #e3e3e3;
   opacity: 0.7;
   padding-bottom: 80px;
}
.subHeading {
	font-size: 30px; 
	margin-top: 0px; 
	font-weight: bold;
	font-family: Bubbler One; 
	text-align: center;
	color: rgb(40,132,123);
	background-color: black;
   	border: 1px solid rgb(40,132,123);
   	border-radius: 146px;
   	opacity: 0.7;
   	margin-left: auto;
   	margin-right: auto;
}
.email:hover {
	font-weight: bold;
	
	color: rgb(54,175,169);
}
.hyperlinkBeauty {
	text-align: right;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
}
.name:hover{
	color:rgb(54,175,169);
}
.container {
	margin-left: auto;
	margin-right: auto;
}
.sti-menu{
	width:100%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}
.sti-menu li{
	float:left;
	width:200px;
	height:300px;
	margin:1px;
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	-moz-box-shadow:1px 1px 2px #ddd;
	-webkit-box-shadow:1px 1px 2px #ddd;
	box-shadow:1px 1px 2px #ddd;
}
.sti-menu li a h2{
	color:#000;
	font-family: 'Wire One', arial, serif; 
	font-size:42px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	padding:10px;
	width:180px;
	top:140px;
	left:0px;
	text-shadow: 0px 1px 1px black;
}
.sti-menu li a h3{
	font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif; 
	font-size:18px;
	font-style:italic;
	color: #111;
	position:absolute;
	top:248px;
	left:0px;
	width:180px;
	padding:10px;
}
.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:50px;
	top:30px;
	margin-right: auto;
	margin-left: auto;
}
.sti-icon-care{
	background-image:url(care.png);
}
.sti-icon-alternative{
	background-image:url(lib.png);
}
.sti-icon-family{
	background-image:url(admission.png);
}
.sti-icon-info{
	background-image:url(edu.png);
}
.sti-icon-technology{
	background-image:url(facalities.png);
}
.sti-icon-gallery {
	background-image: url(gallery.png)
}
.sti-icon-studentsCorner {
	background-image: url(student.png)
}