*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
.Hyperlinks:hover {
	color:rgb(54,175,169);
}
.BigName {
		color: rgb(90,90,90);
		font-family: Belleza;
		font-size: 20px;
		font-weight: bold;
}
.BigName:hover{
		color:rgb(54,175,169);
}
.BigHeadings {
		color: rgb(90,90,90);
}
.BigHeadings:hover {
	color: rgb(54,175,169);	
}
/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
	color: rgb(102,102,102);
	background: url(backgroundContributers.png);
	padding: 0 0 10px;
	font-family: Belleza;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	color: rgb(54,175,169);
	background: rgb(54,175,169);
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	color:rgb(54,175,169);
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	.email:hover {
	font-weight: bold;
	
	color: rgb(54,175,169);
}
}
/* Footer Style */
footer{
	/*position: absolute;*/
	width:100%;
	/*height:30px;*/
	line-height:24px;
	/*bottom:-100px;*/
	font-size:20px;
	background:#000;
	opacity:0.7;
	text-transform:uppercase;
	font-family: Belleza;
	z-index:4;
	text-align:right;
}
footer a{
	text-align: right;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	padding-right: 15px;
	font-family: Belleza;
}
footer a:hover{
	color:rgb(54,175,169);
}
@import url('http://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }


::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/*ol, ul { list-style: none; }*/

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  /*font-family: 'Amarante', Tahoma, sans-serif;*/
  font-weight: bold;
  /*font-size: 3.6em;*/
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 700px;
  background: #fff;
  margin: 0 0 0 -10px;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
  margin-left: 1550;
  /*margin-right: -100;*/
  margin-top: -100px;
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: rgb(54,175,169);
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
  font-family: Belleza;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  font-family: Belleza;

}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
  font-family: Belleza;

}

#keywords thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}
#keywords tbody tr { 
  color: #555;
  font-family: Belleza;

}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
  font-family: Belleza;

}
#keywords tbody tr td.holidayName {
  /*text-align: left;*/
  font-family: Belleza;
}